.wrapper {
  width: 40%;
  height: 49px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.wrapper .theList {
  width: 100%;
  color: #000;
  background-color: #59b6ff4f;
  padding: 15px;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#completed {
  background-color: #80808075;
  font-style: italic;
  text-decoration: line-through;
}

.wrapper input {
  margin-right: 10px;
}

.wrapper button {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

.wrapper button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.wrapper .sign {
  width: 80%;
  height: 3px;
  background-color: red;
}

@media (min-width: 0px) and (max-width: 400px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  .wrapper {
    width: 70%;
  }
}
