.wrapper {
  width: 40%;
  height: 49px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.theList {
  width: 100%;
  color: #333;
  background-color: #ccc9c687;
  padding: 15px;
  border-radius: 5px;
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theList label:hover {
  cursor: pointer;
}

.theList input:hover {
  cursor: pointer
}

.wrapper button {
width: 30px;
height: 30px;
background-color: white;
border: none;
border-radius: 50%;
color: white;
padding: 5px;
text-align: center;
text-decoration: none;
display: inline-block;
margin-left: 10px;
display: flex;
justify-content: center;
}

.wrapper button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.wrapper .sign {
  width: 80%;
  height: 3px;
  background-color: red;
}

@media (min-width: 0px) and (max-width: 400px) {
  .wrapper {
    width: 90%;
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  .wrapper {
    width: 70%;
  }
}
