.theList {
  list-style: none;
  width: 55%;
  margin: auto;
  margin-top: 15px;
  padding-left: 0;
  color: #333;
  background-color: pink;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
}

label:hover {
  cursor: pointer
}

input:hover {
  cursor: pointer
}
